<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:sharedUserId="com.mytv.stb.emu.tu" package="com.mytv.stb.emu.tu" platformBuildVersionCode="27" platformBuildVersionName="8.1.0">
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.usb.accessory" android:required="false"/>
    <uses-feature android:name="com.android.future.usb.accessory" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="false"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.mvas.stb.emu.pro.permission.C2D_MESSAGEef" android:protectionLevel="signature"/>
    <uses-permission android:name="com.mvas.stb.emu.pro.permission.C2D_MESSAGEef"/>
    <application android:allowBackup="false" android:backupAgent="com.mvas.stbemu.services.BackupAgent" android:banner="@drawable/banner" android:exported="true" android:icon="@drawable/logo" android:label="@string/app_name" android:largeHeap="true" android:name="com.mvas.stbemu.App" android:restoreAnyVersion="true">
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAI_Q4HnbVU0gJIyM7fGZbzhgkFmS6G2_skbhBEcQ"/>
        <service android:exported="true" android:name="com.mvas.stbemu.services.MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="acfdd2e18cc9e85ae7eb0bcc640d53f71f25b2ba"/>
        <activity android:name="com.mvas.stbemu.activities.ShortcutActivity">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|locale|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode" android:exported="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.mvas.stbemu.activities.MainActivity" android:resizeableActivity="true" android:screenOrientation="landscape" android:supportsPictureInPicture="true" android:theme="@style/Theme.STBMainActivity.NoActionBar" android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.mvas.stbemu.RUN_APP"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.mvas.stbemu.activities.AppSettings" android:theme="@style/Theme.AppCompat"/>
        <activity android:name="com.mvas.stbemu.activities.NewKeymapActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:label="@string/keymap_activity_title" android:name="com.mvas.stbemu.activities.KeymapActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:label="@string/first_start_activity_title" android:name="com.mvas.stbemu.activities.FirstStartDialogActivity" android:theme="@style/FirstStartDialog"/>
        <receiver android:enabled="false" android:exported="false" android:label="StartSTBEmulatorActivity" android:name="com.mvas.stbemu.receiver.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.appbrain.ReferrerReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="false" android:name="com.mvas.stbemu.services.TaskSchedulerService"/>
        <service android:enabled="false" android:name="com.mvas.stbemu.services.UpdateRecommendationsService"/>
        <service android:enabled="true" android:name="com.mvas.stbemu.pvr.MagPvrService"/>
        <provider android:authorities="com.mytv.stb.emu.tu.localfile;com.mvas.stb.emu.pro.localhttp;com.mvas.stb.emu.pro.raw;com.mvas.stb.emu.pro.string;com.mvas.stb.emu.pro.asset" android:enabled="true" android:exported="false" android:name="com.mvas.stbemu.services.LocalFileContentProvider"/>
        <activity android:exported="false" android:label="@string/title_activity_import_export" android:name="com.mvas.stbemu.activities.SaveRestoreSettingsActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:label="@string/title_activity_updates_info" android:name="com.mvas.stbemu.activities.UpdatesInfoActivity" android:theme="@style/Theme.AppCompat"/>
        <activity android:exported="false" android:label="@string/title_activity_stalker_authentication" android:name="com.mvas.stbemu.activities.StalkerLoginActivity" android:theme="@style/Theme.AppCompat.Dialog.MinWidth"/>
        <meta-data android:name="appbrain.child_directed" android:value="true"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.appbrain.AppBrainActivity"/>
        <service android:name="com.appbrain.AppBrainService"/>
        <provider android:authorities="com.mytv.stb.emu.tu.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <service android:exported="false" android:name="org.fourthline.cling.android.AndroidUpnpServiceImpl"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="com.mytv.stb.emu.tu"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.mytv.stb.emu.tu.AppBrainInitProvider" android:exported="false" android:name="com.appbrain.AppBrainInitProvider"/>
        <service android:enabled="@bool/appbrain_job_service_enabled" android:name="com.appbrain.AppBrainJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.mytv.stb.emu.tu.crashlyticsinitprovider" android:exported="false" android:initOrder="100" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <provider android:authorities="com.mytv.stb.emu.tu.firebaseinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>